<app-cabecera [titulo]="'Usuarios'" [color]="'warning"></app-cabecera>

<ion-content>
  <ion-refresher #miRefresher slot="fixed" (ionRefresh)="refrescar()">
    <ion-refresher-content
      refreshingSpinner="crescent"
       refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of datos; let i = index">
      <ion-label>Item número {{i + 1}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="refrescar()" expand="block" shape="round">
    Muestra Usuarios
  </ion-button>
</ion-content>